/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-bengal-studio-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    word-wrap: break-word;
    overflow: hidden;
    background-color: $card-bg;
    background-clip: border-box;
    @include border-radius($card-border-radius);

    &__title {
        position: relative;
        z-index: 2;
        color: $white;
    }

    &__img-top {
        position: relative;
        min-height: 250px;
        padding: $card-spacer-x;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-position: center center;
        @include border-top-radius($card-inner-border-radius);

        &.has-parallax {
            background-attachment: fixed;

            // Mobile Safari does not support fixed background attachment properly.
            // See also https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios
            // Chrome on Android does not appear to support the attachment at all: https://issuetracker.google.com/issues/36908439
            @supports (-webkit-overflow-scrolling: touch) {
                background-attachment: scroll;
            }

            // Remove the appearance of scrolling based on OS-level animation preferences.
            @media (prefers-reduced-motion: reduce) {
                background-attachment: scroll;
            }
        }

        &.has-background-dim::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: inherit;
            opacity: 0.5;
            z-index: z-index(".wp-block-bengal-studio-card__img-top.has-background-dim::before");
        }

        @for $i from 1 through 10 {
            &.has-background-dim.has-background-dim-#{ $i * 10 }::before {
                opacity: $i * 0.1;
            }
        }
    }

    &__inner-container {
        // Enable `flex-grow: 1` for decks and groups so that card blocks take up
        // as much space as possible, ensuring footers are aligned to the bottom.
        flex: 1 1 auto;
        // Workaround for the image size bug in IE
        // See: https://github.com/twbs/bootstrap/pull/28855
        min-height: 1px;
        padding: $card-spacer-x;
        color: $card-color;
    }
}
